/*
    main body color*/
body
{
    width: 100%;
    background-color: #fff;
    color: #000;
}



@media screen and (-ms-view-state: fullscreen-landscape)
{
}

@media screen and (-ms-view-state: filled)
{
}

@media screen and (-ms-view-state: snapped)
{
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
}


p
{
    color: #ff6600;
}

label
{
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.wego-headerLabel
{
    margin-bottom: 20px;
    color: #fff;
}

.wego-searchBox
{
    width: 24%;
    padding: 10px;
    background: #ff6600;
    height: 100%;
}
